# Git
.git
.gitignore

# Dependencies
**/node_modules
**/venv
**/__pycache__

# Environment
.env
.env.*
!.env.example

# Build files
**/build
**/dist

# Development files
memory-bank
.cursor*
.DS_Store

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Temporary files
**/tmp
**/temp

# Uploads (handled as volume)
uploads/*
!uploads/.gitkeep 