# API Keys
OPENAI_API_KEY=your_openai_api_key_here
GOOGLE_API_KEY=your_google_api_key_here

#Instagram Credentials
INSTAGRAM_USERNAME=your_instagram_username
INSTAGRAM_PASSWORD=your_instagram_password

# Instagram Settings
# Higher values will retry more times but increase processing time
INSTAGRAM_MAX_RETRIES=3
INSTAGRAM_RETRY_DELAY=2

# Allowed Origins for CORS
# Use '*' to allow any origin, or a comma-separated list of domains
# Example: ALLOWED_ORIGINS=https://your-domain.com,http://localhost:3000
ALLOWED_ORIGINS=*

# Services
WHISPER_API_ENDPOINT=https://api.openai.com/v1/audio/transcriptions
GPT_API_ENDPOINT=https://api.openai.com/v1/chat/completions

# Model Configuration
FACT_CHECK_MODEL=chatgpt-4o-latest
IMAGE_ANALYSIS_MODEL=gpt-4o-mini
TRANSCRIPTION_MODEL=whisper-1

# Database
DB_CONNECTION_STRING=your_database_connection_string_here

# Other Configuration
REACT_APP_MAX_UPLOAD_SIZE=2500

ALLOWED_FILE_TYPES=mp4,mov,avi,jpg,jpeg,png,gif

# Docker Configuration
# When running with Docker, this .env file is mounted into the container
# You don't need to change any paths as they are configured in docker-compose.yml 